<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>PersonalFin</span>
    <a mat-button [routerLink]="'/accounts'"> Dashboard </a>
    <a mat-button [routerLink]="'/transactions'"> Transactions </a>
    <a mat-button [routerLink]="'/credit-cards'"> Credit cards </a>
    <a mat-button [routerLink]="'/accounts'"> Accounts </a>
    <a mat-button [routerLink]="'/settings'"> Settings </a>
    <button mat-button [matMenuTriggerFor]="menu">
      <span>More options</span>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="'/categories'" >
        <mat-icon>dialpad</mat-icon>
        <span> Categories </span>
      </a>
    </mat-menu>
    <span class="spacer-left-rigth"></span>
    <button mat-button [matMenuTriggerFor]="menuUser" *ngIf="user$ | async as user">
      <mat-icon>account_circle</mat-icon>
      <span> {{ user.username }} </span>
    </button>
    <mat-menu #menuUser="matMenu">
      <a mat-menu-item (click)="logout()" >
        <mat-icon>input</mat-icon>
        <span> Logout </span>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
