<h2 mat-dialog-title>Category</h2>
<mat-dialog-content class="mat-typography">
  <form class="form mt-4" [formGroup]="categoryForm" (submit)="saveNew()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="categoryForm.get('name')?.errors?.required && categoryForm.get('name')?.touched">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Short name</mat-label>
        <input type="shortName" matInput formControlName="shortName" />
        <mat-error *ngIf="categoryForm.get('shortName')?.errors?.required && categoryForm.get('shortName')?.touched">
          Short name is required
        </mat-error>
      </mat-form-field>
    </div>

    <div align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" type="submit" >Save</button>
    </div>
  </form>
</mat-dialog-content>