<form class="form mt-4" [formGroup]="transactionForm" (submit)="save()">
    <mat-dialog-content class="mat-typography">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="transaction-input">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" required>
                        <mat-icon matSuffix [ngClass]="color">description</mat-icon>
                        <mat-error
                            *ngIf="transactionForm.get('description')?.errors?.required && transactionForm.get('description')?.touched">
                            Description is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="transaction-input">
                        <mat-label>Amount</mat-label>                        
                        <input matInput formControlName="amount" required>
                        <mat-icon matSuffix [ngClass]="color">attach_money</mat-icon>
                        <mat-error
                            *ngIf="transactionForm.get('amount')?.errors?.required && transactionForm.get('amount')?.touched">
                            Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="transaction-input">
                        <mat-label>Issuance date</mat-label>
                        <input matInput formControlName="issuanceDate" [matDatepicker]="picker" required>
                        <mat-datepicker-toggle matSuffix [for]="picker" [ngClass]="color"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error
                            *ngIf="transactionForm.get('issuanceDate')?.errors?.required && transactionForm.get('issuanceDate')?.touched">
                            Issuance is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="transaction-input">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" required>
                        <div *ngIf="categories$ | async as categories; else emptyCategory">
                            <mat-option *ngFor="let category of categories.data" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </div>
                        <ng-template #emptyCategory>
                            <mat-option>None</mat-option>
                        </ng-template>
                    </mat-select>
                    <mat-error
                        *ngIf="transactionForm.get('category')?.errors?.required && transactionForm.get('category')?.touched">
                        Category is required
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="transaction-input">
                        <mat-label>Payment</mat-label>
                        <mat-select formControlName="payment">
                            <div *ngIf="payments$ | async as payments; else emptyPayment">
                                <mat-option *ngFor="let payment of payments.data" [value]="payment.id">
                                    {{payment.name}}
                                </mat-option>
                            </div>
                            <ng-template #emptyPayment>
                                <mat-option>None</mat-option>
                            </ng-template>
                        </mat-select>
                        <mat-error
                            *ngIf="transactionForm.get('payment')?.errors?.required && transactionForm.get('payment')?.touched">
                            Payment is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-slide-toggle color="primary" formControlName="recurring" class="transaction-input">
                        Recurring expense
                    </mat-slide-toggle>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="transaction-input">
                        <mat-label>Bank</mat-label>
                        <mat-select formControlName="bank">
                            <div *ngIf="banks$ | async as banks; else emptyBank">
                                <mat-option *ngFor="let bank of banks.data" [value]="bank.id">
                                    {{bank.name}}
                                </mat-option>
                            </div>
                            <ng-template #emptyBank>
                                <mat-option>None</mat-option>
                            </ng-template>
                        </mat-select>
                        <mat-error
                            *ngIf="transactionForm.get('bank')?.errors?.required && transactionForm.get('bank')?.touched">
                            Bank is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="transaction-input">
                        <mat-label>Account</mat-label>
                        <mat-select formControlName="account">
                            <mat-option>None</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="transactionForm.get('account')?.errors?.required && transactionForm.get('account')?.touched">
                            Account is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6" hidden>
                    <mat-form-field appearance="outline" class="transaction-input">
                        <mat-label>Credit card</mat-label>
                        <mat-select formControlName="creditCard">
                            <mat-option>None</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="transactionForm.get('creditCard')?.errors?.required && transactionForm.get('creditCard')?.touched">
                            Credit Card is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-slide-toggle color="primary" formControlName="divide" class="transaction-input">
                        Divide
                    </mat-slide-toggle>
                </div>
                <div class="col-md-6" *ngIf="transactionForm.get('divide').value">
                    <mat-form-field appearance="outline" class="transaction-input">
                        <mat-label>Istallments</mat-label>
                        <input matInput formControlName="installments">
                        <mat-icon matSuffix [ngClass]="color">call_split</mat-icon>
                        <mat-error
                            *ngIf="transactionForm.get('installments')?.errors?.min && transactionForm.get('installments')?.touched">
                            Installments minimum is 1
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </mat-dialog-actions>
</form>