<h2 mat-dialog-title>Transaction</h2>
<mat-dialog-content class="mat-typography">
  <form class="form mt-4" [formGroup]="transactionForm" (submit)="save()">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" required>
        <mat-error *ngIf="transactionForm.get('description')?.errors?.required && transactionForm.get('description')?.touched">
          Description is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount" required>
        <mat-error *ngIf="transactionForm.get('amount')?.errors?.required && transactionForm.get('amount')?.touched">
            Amount is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Issuance date</mat-label>
            <input matInput formControlName="issuanceDate" [matDatepicker]="picker" required>
            <mat-error *ngIf="transactionForm.get('issuanceDate')?.errors?.required && transactionForm.get('issuanceDate')?.touched">
                Issuance is required
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" required>
                <mat-option>None</mat-option>
                <!--<mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>-->
            </mat-select>
            <mat-error *ngIf="transactionForm.get('category')?.errors?.required && transactionForm.get('category')?.touched">
                Category is required
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Bank</mat-label>
            <mat-select formControlName="bank">
                <mat-option>None</mat-option>
            </mat-select>
            <mat-error *ngIf="transactionForm.get('bank')?.errors?.required && transactionForm.get('bank')?.touched">
                Bank is required
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Account</mat-label>
            <mat-select formControlName="account" >
                <mat-option>None</mat-option>
            </mat-select>
            <mat-error *ngIf="transactionForm.get('account')?.errors?.required && transactionForm.get('account')?.touched">
                Account is required
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Credit card</mat-label>
            <mat-select formControlName="creditCard">
                <mat-option>None</mat-option>
            </mat-select>
            <mat-error *ngIf="transactionForm.get('creditCard')?.errors?.required && transactionForm.get('creditCard')?.touched">
                Credit Card is required
            </mat-error>
        </mat-form-field>
    </div>

    <div align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" type="submit" >Save</button>
    </div>
  </form>
</mat-dialog-content>